html, body {
    margin: 0;
    background: #f9f9f9;
    min-width: 840px;
    font-family: 'Roboto', sans-serif;
}
#header-panel{
    height: 64px;
    /*for Chrome:*/
    min-height: 64px;
    background: #2196F3;
    min-width: 840px;
}

#toolbar {
    height: 100%;
}

#content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    min-width: 808px; /*min-heidht of other elements (840px) - (2 * padding on left/right side (16px)) = 808 */
    padding-left: 16px;
    padding-right: 16px;
}
#filter-holder {
    width: 100%;
    display: flex;
    height: 200px;
}
#date-filter-holder {
    flex: 2;
    margin: 8px;
}
#letnik-filter-holder {
    flex: 1;
    margin: 8px;
    display: flex;
    flex-direction: column;
}
#oddelek-filter-holder {
    flex: 1;
    margin: 8px;
    display: flex;
    flex-direction: column;
}
#spol-filter-holder {
    flex: 1;
    margin: 8px;
    display: flex;
    flex-direction: column;
}
#ocene-filter-holder {
    flex: 1;
    margin: 8px;
}
#izostanik-filter-holder {
    flex: 2;
    margin: 8px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}
.filter-label {
    flex: 1;
    margin: 0;
}
.filter-checkbox {
    flex: 1;
}
.toggle-holder {
    flex: 1;
    display: flex;
    flex-direction: row;
}
paper-toggle-button {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
.toggle-label {
    margin-left: 4px;
    padding-top: 15px;
}
#display-holder {
    width: 100%;
    display: flex;
    margin-top: 16px;
}
#facts-holder {
    flex: 2;
    margin-right: 8px;
    padding-bottom: 28px;
}
#stats-holder {
    flex: 5;
    margin-left: 8px;
    padding-bottom: 28px;
}
#chart-holder {
    margin-top: 16px;
    width: 100%;
    margin-bottom: 64px;
}
#chart {
    height: 100%;
    width: 90%;
}
.p-center {
    width: 100%;
    text-align: center;
}
.p-right {
    width: 100%;
    text-align: right;
}
.p-left {
    width: 100%;
    text-align: left;
}
#facts-holder-table, #stats-holder-table {
    width: 100%;
    height: 100%;
    table-layout:fixed;
}
tr {
    line-height: 2px;
}
#title-holder {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-size: 30px;
    color: white;
}
#subtitle-holder {
    width: 100%;
    text-align: center;
    color: white;
}
#date-chooser-button {
    color: white;
    background: #4285f4;
    margin: 16px 0 0;
    width: 100%;
}
.p-bold {
    font-weight: bold;
}
.p-card-title {
    height: 18px;
    margin: 8px 0 0;
}

/*This will work for firefox*/
@-moz-document url-prefix() {
    .toggle-label {
        margin-top: -16px;
    }
}